body {
    background: url("../images/congruent_pentagon.png")
}

#main-header {
    background-color: orangered;
    color: white;
}

#main-container{
    background-color: white;
    color: green;
}

#random-number{
    background-color: darkslateblue;
    color: whitesmoke
}

#score-keep{
    background-color: darkslateblue;
    color: whitesmoke;
}

#total-score{
    background-color: teal;
    color: whitesmoke;
}

.crystal-image{
    height: 200px;
    width: 200px;
}
